@charset "utf-8";
.copyright{background:url(img/copyright_bg.jpg) repeat-x;height:26px;line-height:26px;text-align:center;color:#fff;line-height:26px;font-family:Arial;}
/*.copyright div{font-family:"Tahoma";font-size:12px;text-align:center;color:#666;}*/
.copyright ul{margin:0 auto;padding:0;text-align:center}
.copyright ul li{display:inline;padding:3px;color:#ccc}
